.filter-layout-item {
    max-width: 600px; /* Ensure the filter isn't too wide */
    margin: 0 auto; /* Center the filter */
}

.movie-layout {
    justify-content: space-around; /* Add spacing between items */
}

.movie-layout-item {
    padding: 10px;
    display: flex;
    justify-content: center;
}
